.hero {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    background-image: url(./img/hero.jpg);
    background-repeat: none;
    backdrop-filter: blur(5px);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
    align-items: center
}